<div class="entry" id="<%= dom_id entry %>">
    <h2><%= entry.question %></h2>
    <p class="entry__subtitle"><small>last updated by <%= entry.user.name %> on <%= entry.updated_at.strftime("%b %-d, %Y") %></small></p>
    <div class="entry__answer">
        <p><%= entry.answer %></p>
    </div>
    <div class="tagcloud">
        <ul>
            <% entry.tags.each do |t| %>
                <li>
                    <span><%= t.name %></span>
                </li>
            <% end %>
        </ul>
    </div>
</div>
