<p style="color: green"><%= notice %></p>

<div class="content">
  <h1>Entries</h1>
  <div class="entries">
    <% if params[:tag] %>
      <h3>Tagged with '<%= params[:tag] %>'</h3>
    <% end %>
    <% if @entries.nil? %>
      <p>No items are assigned to this tag.</p>
    <% else %>
      <ul>
        <% @entries.each do |entry| %>
          <li class="entries__item">
            <% strEntryTags = '' %>
            <% if entry.tags.count > 0
              strEntryTags = raw("<p class='entries__item__tags'>")
              entry.tags.each do |t| %>
                <% strEntryTags += raw(t.name + '<span>|</span>') %>
              <% end
              strEntryTags += raw("</p>")
            end %>
            <%= link_to raw("<p>") + entry.question + raw("</p><p class='entries__item__info'><small>last updated by ") + entry.user.name + " on " + entry.updated_at.strftime("%b %-d, %Y") +  raw("</small></p>" + strEntryTags), entry %>
          </li>
        <% end %>
      </ul>
      <%= render 'shared/pagination', pagy: @pagy %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "New entry", new_entry_path %>
  <% end %>
</div>

<div class="sidebar">
  <div class="tagcloud">
    <h4>Search by Tag:</h4>
    <hr>
    <ul>
      <% Tag.all.each do |tag| %>
        <%
        strTagClass = ""
        if params[:tag] == tag.name
          strTagClass = "active"
        end 
        %>
        <li>
          <a href="?tag=<%= tag.name %>" class="<%= strTagClass %>"><%= tag.name %></a>
        </li>
      <% end %>
      </ul>
  </div>
</div>
