<p style="color: green"><%= notice %></p>

<h1>Entries</h1>
<div class="entries">
  <% if params[:tag] %>
    <h3>Tagged with '<%= params[:tag] %>'</h3>
  <% end %>
  <% if @entries.nil? %>
    <p>No items are assigned to this tag.</p>
  <% else %>
    <ul>
      <% @entries.each do |entry| %>
        <li class="entries__item">
          <% strEntryTags = '' %>
          <% if entry.tags.count > 0
            strEntryTags = raw("<p class='entries__item__tags'>")
            entry.tags.each do |t| %>
              <% strEntryTags += raw('<span><a href="' + entries_path + '?tag=' + t.name + '" class="">' + t.name + '</a>' + '<span>|</span></span>') %>
            <% end
            strEntryTags += raw("</p>")
          end %>
          <p><%= entry.question %></p>
          <p class="entries__item__info"><small>last updated by <%= entry.user.name %> on <%= entry.updated_at.strftime("%b %-d, %Y") %></small></p>
          <%= link_to "", entry, class: "entries__item__link" %>
          <%= strEntryTags %>
        </li>
      <% end %>
    </ul>
    <%= render 'shared/pagination', pagy: @pagy %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to "New entry", new_entry_path %>
<% end %>