<div class="main__form">
    <%= form_tag root_path, :method => "get" do %>
        <%= label_tag(:search, "Search your bank of previous issues!") %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag("Search", :name => nil) %>
    <% end %>
    <%= link_to "Browse entries", entries_path %>
</div>

<br>

<% if params[:search] != "" and !params[:search].nil? %>
    <h3>Results for '<%= params[:search] %>'</h3>
    <% if @entries %>
        <p><%= @entries.length %> result(s)</p>
        <div class="entries">
            <ul>
                <% @entries.each do |entry| %>
                    <li>
                        <%= link_to raw("<p>") + entry.question + raw("</p><p><small>last updated by ") + entry.user.name + " on " + entry.updated_at.strftime("%b %-d, %Y") +  raw("</small></p>"), entry %>
                    </li>
                <% end %>
            </ul>
        </div>
        <%= render 'shared/pagination', pagy: @pagy %>
    <% else %>
        <p>No results found.</p>
    <% end %>
<% end %>
