<div class="main__form">
    <p>Search your bank of previous issues!</p>
    <%= form_tag root_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search] %><%= button_tag(:type => 'submit', :name => '') do %>
            <span class="material-symbols-outlined">Search</span>
        <% end %>
    <% end %>
    <%= link_to "Browse Entries", entries_path %>
</div>

<br>

<% if params[:search] != "" and !params[:search].nil? %>
    <h3>Results for '<%= params[:search] %>'</h3>
    <% if @entries %>
        <p><%= @entries.length %> result<% if @entries.length > 1 %>s<% end %></p>
        <div class="entries">
            <ul>
                <% @entries.each do |entry| %>
                    <li class="entries__item">
                    <% strEntryTags = '' %>
                    <% if entry.tags.count > 0
                        strEntryTags = raw("<p class='entries__item__tags'>")
                        entry.tags.each do |t| %>
                            <% strEntryTags += raw('<span><a href="' + entries_path + '?tag=' + t.name + '" class="">' + t.name + '</a>' + '<span>|</span></span>') %>
                        <% end
                        strEntryTags += raw("</p>")
                    end %>
                    <p><%= entry.question %></p>
                    <p class="entries__item__info"><small>last updated by <%= entry.user.name %> on <%= entry.updated_at.strftime("%b %-d, %Y") %></small></p>
                    <%= link_to "", entry, class: "entries__item__link" %>
                    <%= strEntryTags %>
                    </li>
                <% end %>
            </ul>
        </div>
        <%= render 'shared/pagination', pagy: @pagy %>
    <% else %>
        <p>No results found.</p>
    <% end %>
<% end %>
