 <div class="admin">
    <div class="btns">
    <% if user_signed_in? %>
        <span>Hello <%= current_user.name %>!</span>
        <%= button_to "My Account", edit_user_registration_path, method: :get %>
        <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= button_to "Sign up", new_user_registration_path, method: :get %>
        <%= button_to "Log in", new_user_session_path, method: :get %>
    <% end %>
    </div>
</div>

<% if user_signed_in? %>
    logged in
    <%= button_to "New entry", new_entry_path, method: :get %>
<% else %>
    logged out
<% end %>

<h1>Memory Bank</h1>
<p>Search your bank of previous issues!</p>
<%= link_to "View all entries", entries_path %>

