<!DOCTYPE html>
<html>
  <head>
    <title>MemoryBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= turbo_include_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <div class="app <% if !homepage %>app--inner<% end %>">
      <%= render template: "/layouts/adminbar" %>
      <%= render template: "/layouts/header" %>
      <main class="main">
        <div class="content">
          <%= render template: "/layouts/breadcrumbs" if !homepage %>
          <%= yield %>
        </div>
        <%= render template: "/layouts/sidebar" if !homepage %>
      </main>
    </div>
  </body>
</html>
